﻿@{
    ViewBag.Title = "Home Page";
}

    <div id="inner-content" class="">
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>Bienvenue!</h1>
                        <p>Cette application va vous permetre de gérer les ventes des produits TRAMWAY RABAT/SALE</p>
@if (!Request.IsAuthenticated)
{
                        <p>@Html.ActionLink("Connectez vous pour commencer!", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })</p>
}       
                    </div>
                    <div class="col-md-5">
                        <p><img src="~/Images/tram-way-rabat.png"></p>
                    </div>
                </div><!-- end .row-->
            </div> <!-- end .container-->
        </div> <!-- end .jumbotron-->
    </div> <!-- end #inner-content -->
