﻿@model ventes_tickets.Models.Tickets

@{
    ViewBag.Title = "Create";
}

<h2>Nouvelle vente</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        @Html.ValidationMessageFor(model => model.date_achat)
        <div class="form-group">
            <label>Quantité</label>
            @Html.TextBoxFor(model => model.qte, new {@Value = @DateTime.Now.ToShortDateString(), @class = "form-control ", @type = "number" })
        </div>
       
        <div class="form-group">
            <label>Date t'achat</label>
            @Html.TextBoxFor(model => model.date_achat, new { @class = "form-control ", @type = "date" })
        </div>
        <div class="form-group">
            <label>Type</label>
            @Html.DropDownList("Type_ticket_Id", new SelectList((System.Collections.IEnumerable)ViewData["type"], "Id", "nom_type"), new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Point de vente</label>
            @Html.DropDownList("Point_de_vente_Id", new SelectList((System.Collections.IEnumerable)ViewData["PDV"], "Id", "nom"), new { @class = "form-control" })
        </div>
            <p>
                <input type="submit" value="Ajouter" class="btn-lg btn-success" />
            </p>
</fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    document.getElementById("date_achat").value = "@ViewData["date"]";
</script>