﻿@model IEnumerable<ventes_tickets.Models.Tickets>

@{
    ViewBag.Title = "Index";
}

<h2>Gesion des ventes</h2>


<table class="table table-bordered table-condensed table-striped table-hover table-responsive">
    <tr>
        <th>
            Date d'achat
        </th>
        <th>
            Quantité
        </th>
        <th>
            Type
        </th>
        <th>
            Point de vente
        </th>
        <th>
            Agent
        </th>
        <th>
            A supprimer
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date_achat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type_ticketSet.nom_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Point_de_venteSet.nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserProfile.nom_complet) (@Html.DisplayFor(modelItem => item.UserProfile.UserName))
            </td>
            <td>
@if (item.a_supp==1) {
                <b>Oui</b>
                                   }
            </td>
            <td>
                <span class="glyphicon  glyphicon-edit"></span>    @Html.ActionLink("Editer", "Edit", new { id = item.Id }) <br />
@if (String.Equals(ViewData["role"], "Admin")) { 
                <span class="glyphicon glyphicon-remove"></span>   @Html.ActionLink("Supprimer", "Delete", new { id = item.Id }) <br />
}
else { 
                <span class="glyphicon glyphicon-remove"></span>   @Html.ActionLink("Demande de suppression", "Demande_supp", new { id = item.Id }) <br />
}
            </td>
        </tr>
    }

</table>
