﻿@model ventes_tickets.Models.UserProfile

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer</h2>

<h3>Etes vous sure de bien vouloir supprimer l'element suivant ?</h3>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Supprimer" class="btn btn-danger "/> |
        @Html.ActionLink("Annuler", "Index", null, new { @class = "btn btn-primary" })
    </p>
}
