﻿@model ventes_tickets.Models.UserProfile

@{
    ViewBag.Title = "Edit";
}

<h2>Editer l'utilisateur</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        @Html.HiddenFor(model => model.UserId)

        
        <div class="editor-label">
            Nom complet
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.nom_complet, new { @class = "form-control " })
            @Html.ValidationMessageFor(model => model.nom_complet)
        </div>
        <div class="editor-label">
            Role
        </div>
        <div class="form-group">
            
            @Html.DropDownListFor(model => model.role, new SelectList(
                  new List<Object>{ 
                       new { value = "Admin" , text = "Administrateur"  },
                       new { value = "Agent" , text = "Responsable des ventes" }
                    },
                  "value",
               "text"), new { @class = "form-control " })
            
        </div>

        <div class="editor-label">
            Adresse
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.adresse, new { @class = "form-control " })
            @Html.ValidationMessageFor(model => model.adresse)
        </div>


        <p>
            <input type="submit" value="Enregistrer" class="btn-lg btn-success" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
