﻿@model IEnumerable<ventes_tickets.Models.UserProfile>

@{
    ViewBag.Title = "Index";
}

<h2>Gestion des utilisateurs</h2>


<table class="table table-bordered table-condensed table-striped table-hover table-responsive">
    <tr>
        <th>
            Login
        </th>
        <th>
            Nom complet
        </th>
        <th>
            Role
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nom_complet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.role)
            </td>
            <td>
                <span class="glyphicon glyphicon-edit"></span> @Html.ActionLink("Editer", "Edit", new { id = item.UserId }) |
                <span class="glyphicon glyphicon-remove"></span> @Html.ActionLink("Supprimer", "Delete", new { id = item.UserId })
            </td>
        </tr>
    }

</table>
