﻿

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <span class="glyphicon glyphicon-folder-close">
                </span> Ventes
            </a>
        </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
            <table class="table">
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-pencil text-primary"></span> @Html.ActionLink("Ajouter une vente", "Create", "Ticket")
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-flash text-success"></span> @Html.ActionLink("Gèrer les ventes", "Index", "Ticket")
                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>

@if (String.Equals(ViewData["role"], "Admin") )
{ 
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                <span class="glyphicon glyphicon-th">
                </span> Référentiel
            </a>
        </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
            <table class="table">
                <tr>
                    <td>
                        @Html.ActionLink("Ajouter un types de produit", "Create", "TypeTicket")
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.ActionLink("Gèrer les types de produits", "Index", "TypeTicket")
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.ActionLink("Ajouter un points de vente", "Create", "PDV")
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.ActionLink("Gèrer les points de vente", "Index", "PDV")
                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                <span class="glyphicon glyphicon-user">
                </span> Administration
            </a>
        </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
            <table class="table">
                <tr>
                    <td>
                        @Html.ActionLink("Ajouter un utilisateur", "Register", "Account")
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.ActionLink("Gestion des utilisateurs", "Index", "Users")
                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>
}
else{
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                <span class="glyphicon glyphicon-file">
                </span> Rapports
            </a>
        </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
            <table class="table">
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-usd"></span> <a href="~/Content/repports/1.xlsx">Rapport par date</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-alert"></span> <a href="~/Content/repports/2.xlsx">Rapport par type</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-tasks"></span> <a href="~/Content/repports/3.xlsx">Rapport par point de vente</a>
                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>
}