﻿@model ventes_tickets.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Changer votre mot de passe</legend>
        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="OldPassword" type="password" class="form-control" name="OldPassword" placeholder="Ancien mot de passe">
        </div>
        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="NewPassword" type="password" class="form-control" name="NewPassword" placeholder="Nouveau mot de passe">
        </div>
        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="ConfirmPassword" type="password" class="form-control" name="ConfirmPassword" placeholder="Confirmer">
        </div>
        </fieldset>
    
        <input type="submit" class="btn btn-success" value="Confirmer les changements">

    
}
