﻿@model ventes_tickets.Models.LocalPasswordModel
@{
    ViewBag.Title = "Gérer mon compte";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>


@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
