﻿@model ventes_tickets.Models.Type_ticket

@{
    ViewBag.Title = "Create";
}

<h2>Nouveau type</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        

        <div class="editor-label">
            Nom
        </div>


        <div class="form-group">
            @Html.TextBoxFor(model => model.nom_type, new { @class = "form-control " })
            @Html.ValidationMessageFor(model => model.nom_type)
        </div>

        <div class="editor-label">
            Prix en DHs
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.prix_type, new { @class = "form-control " })
            @Html.ValidationMessageFor(model => model.prix_type)
        </div>

        <div class="editor-label">
            Période
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.periode, new { @class = "form-control " })
            @Html.ValidationMessageFor(model => model.periode)
        </div>
        <div class="editor-label">
            Offre
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.offre, new { @class = "form-control " })
            @Html.ValidationMessageFor(model => model.offre)
        </div>

        <p>
            <input type="submit" value="Ajouter" class="btn-lg btn-success" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
