﻿@model ventes_tickets.Models.Type_ticket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Type_ticket</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nom_type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nom_type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.prix_type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.prix_type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.periode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.periode)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
