﻿@model IEnumerable<ventes_tickets.Models.Type_ticket>

@{
    ViewBag.Title = "Index";
}

<h2>Gesion des types</h2>

<table class="table table-bordered table-condensed table-striped table-hover table-responsive">
    <tr>
        <th>
            Nom
        </th>
        <th>
            Prix
        </th>
        <th>
            @Html.DisplayNameFor(model => model.periode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.offre)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prix_type) Dhs
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.periode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.offre)
            </td>
            <td>
                <span class="glyphicon  glyphicon-edit"></span>    @Html.ActionLink("Editer", "Edit", new { id = item.Id }) |
                <span class="glyphicon glyphicon-remove"></span>   @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
