﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - TRAMWAY </title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">TRAMWAY</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    
                        @Html.Partial("_LoginPartial") 
                    
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
     
                    
            @if (Request.IsAuthenticated)
            { 
                <style>
                    .panel-body { padding:0px; }
                    .panel-body table tr td { padding-left: 15px }
                    .panel-body .table {margin-bottom: 0px; }
                </style>
            <div id="body" class="container">

                <div class="col-md-3">
                    <div class="panel-group" id="accordion">
                      @Html.Action("menu","Users")

                       
                    </div>
                    </div>
                <div class="col-md-9">
                    @RenderSection("featured", required: false)
                    <section class="content-wrapper main-content clear-fix">
                        
                        @RenderBody()
                    </section>
                </div>
                </div>
            }
            else
            {
                @RenderBody()
            }
           
            <footer class="footer">
                <div class="container">
                    <div class="text-center">
                        <p>&copy; @DateTime.Now.Year - TRAMWAY RABAT/SALE</p>
                    </div>
                </div>
            </footer>
            @RenderSection("scripts", required: false)
            @Scripts.Render("~/Scripts/jquery-1.8.2.js")
            @Scripts.Render("~/Scripts/bootstrap.js")
</body>
</html>
