﻿
@if (Request.IsAuthenticated)
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon  glyphicon-user"></span> @User.Identity.Name <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li>
                @Html.ActionLink("Gérer mon compte", "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Gérer mon compte" })
            </li>
            <li class="divider"></li>
            <li>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()" style="display: block;padding: 3px 20px;clear: both;font-weight: 400;line-height: 1.42857143;color: #333;text-decoration:none;white-space: nowrap;" >Deconexion</a>
                }
            </li>
         </ul>
</li>
}
else
{

        <!--<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>-->
        <li>@Html.ActionLink("Connexion", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    
}
