﻿@model ventes_tickets.Models.Point_de_vente

@{
    ViewBag.Title = "Create";
}

<h2>Nouveau point de vente</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        

        <div class="editor-label">
            Nom
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.nom, new { @class = "form-control " })
            @Html.ValidationMessageFor(model => model.nom)
        </div>

        <div class="editor-label">
            Adresse
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.adresse, new { @class = "form-control " })
            @Html.ValidationMessageFor(model => model.adresse)
        </div>



        <p>
            <input type="submit" value="Ajouter" class="btn-lg btn-success" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
