﻿@model IEnumerable<ventes_tickets.Models.Point_de_vente>

@{
    ViewBag.Title = "Index";
}

<h2>Gestion des points de ventes</h2>


<table class="table table-bordered table-condensed table-striped table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adresse)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adresse)
            </td>
            <td>
                <span class="glyphicon  glyphicon-edit"></span> @Html.ActionLink("Editer", "Edit", new { id = item.Id }) 
                <span class="glyphicon  glyphicon-remove"></span>  @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
